<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Shopping</title>
    <link rel="stylesheet" href="/assets/stylesheets/bootstrap.css">
  </head>
  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#defaultNavbar1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div class="collapse navbar-collapse" id="defaultNavbar1">
          <ul class="nav navbar-nav">
            <% unless session[:user] %>
              <li class="active"><a href="/signin">ログイン<span class="sr-only">(current)</span></a></li>
              <li><a href="/signup">ユーザー登録</a></li>
            <% else %>
              <li><a href="/signout">ログアウト</a></li>
              <li><a href="/my_cart"><%= User.find(session[:user]).name %>さんのカート</a></li>
              <li><a href="/create_cart">カートを作成する</a>
              </li>
              <li><a href="/admin">管理者画面</a></li>
            <% end %>
            <form class="navbar-form navbar-left" action="/add_item" method="post">
              <div class="form-group">
                <input type="text" class="form-control" name="name" placeholder="商品名">
                <input type="text" class="form-control" name="image_url" placeholder="画像url">
                <input type="text" class="form-control" name="price" placeholder="price">
                <select name="category" id="category"  class="form-control">
                  <% Category.all.each do |category| %>
                    <option value="<%= category.id %>"><%= category.name %></option>
                  <% end %>
                </select>
              </div>
              <button type="submit" class="btn btn-default">アイテムを追加</button>
            </form>
          </ul>
        </div>
      </div>
    </nav>
    <div class="row">
      <% Item.all.each do |item| %>
        <div class="col-md-3">
          <div class="thumbnail"><img src="<%= item.image_url %>" alt="Thumbnail Image 1" style="width:200px;">
            <div class="caption">
              <h3><%= item.name %></h3>
              <h3><%= item.price %>円</h3>
              <% if !item.category_id.nil? %>
                <p><a href="/category/<%= item.category_id %>"><%= item.category.name %></a></p>
              <% end %>
              <form method="post" action="/add_to_cart">
                <input type="hidden" name="item_id" value="<%= item.id %>">
                <select name="cart_id" id="cart_id"  class="form-control">
                  <% Cart.all.each do |cart| %>
                    <option value="<%= cart.id %>">カート<%= cart.id %></option>
                  <% end %>
                </select>
                <p><input type="submit" value="カートに入れる"></p>
              </form>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </body>
</html>
